@model long?
@using Newtonsoft.Json.Linq;
@{
    ViewBag.Title = "Draw";
    Layout = "~/Areas/Backend/Views/Shared/_MasterAdminiframeLayout.cshtml";

    var siteQuery = new { SiteID = ViewBag.SiteID, MenuID = ViewBag.MenuID };

}
@section HArea {
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Css/Card")
    @BundleConfig.StickyTableHeaders()
    @BundleConfig.Component()

    <script>

        $(function () {
            $('.btnsave').on('click', function () {
                if ($('#password').val() !== $('#password-retype').val()) {
                    Component.alert('密碼欄位和密碼確認欄位內容不一致');
                    return false;
                }

                editWindow = parent;
                $('#changepw').submit();
                Component.alert('密碼已儲存', function () {
                    editWindow.$.colorbox.close();
                });
            });

            $('.btnCancel').click(function () {
                parent.$.colorbox.close();
            });
        });
    </script>
}

<div class="groove groove-1">
    <!-- swiper1 -->
    <div class="swiper-container swiper-tab-bar">
        <div class="swiper-wrapper">
            <div class="swiper-slide selected">修改密碼</div>
        </div>
    </div>
    <!-- swiper2 -->
    <div class="swiper-container swiper-tab-content">
        <div class="swiper-wrapper">
            <form action="@Url.Action("ChangePassword", new { memberId = Model })" method="post" name="changepw" id="changepw">
                <div class="swiper-slide">
                    <ul class="forms">
                        <li>
                            <div class="col-2">
                                <div class="title">新密碼</div>
                                <div class="input-field full no-label">
                                    <input id="password" name="password" type="password">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="title">再輸入一次密碼</div>
                                <div class="input-field full no-label">
                                    <input id="password-retype" type="password">
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="control-bar">
                        <a class="btnCancel btn-cancel" href="javascript:void(0)"><i class="cc cc-close"></i>取消</a>
                        <a class="btnsave btn-bulid" href="javascript:void(0)"><i class="cc cc-check"></i>儲存</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>