@model WorkV3.Models.ParallaxModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Backend/Views/Shared/_MasterAdminiframeLayout.cshtml";

    var siteQuery = new { SiteID = ViewBag.SiteID, MenuID = ViewBag.MenuID };
}

@section FArea {
    @Styles.Render("~/Css/Card")
    @BundleConfig.Validate()
    @BundleConfig.FileUploader()
    @BundleConfig.Component()

    <script type="text/javascript">
        function Callbacks() {
            @if (ViewBag.IsValid as bool? == false)
            {
            <text>
            var msg = [];
            $(".validationSummary li").each(function () {
                msg.push($(this).text());
            });
            Component.alert(msg.join("\r\n"));
            </text>
            }

            @if (ViewBag.EditResult != null )
            {
            <text>
            Component.alert("@Html.Raw(ViewBag.EditResult)", function () {
                parent.refreshList();
                Component.closeRight();
            });
            </text>
            }
        }

        $(function () {
            Component.singleImageUpload('#ImgFile', '@(Href("~/"))', '@ViewBag.UploadVPath');
            Component.editor("Description");

            // 刊登相關設定

            $("#IsIssue").change(function () {
                if (this.checked)
                    $('#publishedTime').fadeIn();
                else
                    $('#publishedTime').fadeOut();
            }).trigger("change");

            // 刊登相關設定 End

            $('#btnSave').click(function () {
                var form = $("#editForm");
                if (form.validationEngine('validate', { promptPosition: 'topLeft' })) {
                    form.submit();
                }
            });

            Callbacks();
        });
    </script>
}

<div class="groove groove-1">
    @using (Html.BeginForm("Edit", "Parallax", siteQuery, FormMethod.Post, new { enctype = "multipart/form-data", id = "editForm" }))
    {
        @Html.ValidationSummary(false, "", new { @class = "validationSummary", style = "display:none;" })
        @Html.HiddenFor(m => m.ID)
        @Html.HiddenFor(m => m.CardNo)
        @Html.HiddenFor(m => m.Sort)
        @Html.HiddenFor(m => m.Creator)
        @Html.HiddenFor(m => m.CreateTime)

        <ul class="forms">
            <li>
                <div class="col-1">
                    <div class="title">標題</div>
                    <div class="input-field">
                        @Html.TextBoxFor(m => m.Title)
                    </div>
                </div>
            </li>
            <li>
                <div class="col-1">
                    <div class="title">內文</div>
                    <div class="input-field img-text-height">
                        @Html.TextAreaFor(x => x.Description, new { contenteditable = "true" })
                    </div>
                </div>
            </li>
            <li>
                <div class="col-1">
                    <div class="title">上傳圖片</div>
                    <div class="input-field m-T-none">
                        <input type="file" id="ImgFile" name="ImgFile" />
                        <input type="hidden" id="Img" name="Img" value='@Model.Img' />
                        <input type="hidden" id="ImgFileBase64" name="ImgFileBase64" />
                    </div>
                </div>
            </li>
        </ul>

        <div class="control-bar">
            <div class="bar-item float-L">
                <div>
                    @Html.CheckBoxFor(m => m.IsIssue)
                    <label for="IsIssue">刊登</label>
                    @*<a class="btn-grey-darken-2-o transparent p-none dropdown-button" href="javascript:" data-activates="dropdown-published"><i class="cc cc-chevron-down"></i></a>
                    <ul id="dropdown-published" class="dropdown-content btnStyle ">
                        <li>
                            <div class="p-h-4">
                                @Html.CheckBoxFor(m => m.Website1)
                                <label for="Website1">華山官網</label>
                            </div>
                        </li>
                        <li>
                            <div class="p-h-4">
                                @Html.CheckBoxFor(m => m.Website2)
                                <label for="Website2">烏梅劇院</label>
                            </div>
                        </li>
                    </ul>*@
                </div>
            </div>
            <div id="publishedTime" class="bar-item float-L" style="display:none;">
                <div class="input-field inline m-T-none">
                    @Html.TextBoxFor(m => m.IssueStart, new { @class = "input-cal datetimepicker", placeholder = "開始時間" })
                </div>
                <div class="input-field inline m-T-none">
                    @Html.TextBoxFor(m => m.IssueEnd, new { @class = "input-cal datetimepicker", placeholder = "結束時間" })
                </div>
                @*<div class="radio-box inline m-R-4">
                    @Html.CheckBoxFor(m => m.Period)
                    <label for="Period">間歇性刊登</label>
                    <a class="btn-grey-darken-2-o transparent p-none dropdown-button" href="javascript:" data-activates="rangePublishedTime"><i class="cc cc-chevron-down"></i></a>
                    <div id="rangePublishedTime" class="float-box top dropdown-content btnStyle closeOnClick" style="display:none;">
                        <div class="radio-box inline m-T-2">
                            <div class="">
                                @Html.CheckBoxFor(m => m.Sun)
                                <label for="Sun">週日</label>
                            </div>
                            <div class="">
                                @Html.CheckBoxFor(m => m.Mon)
                                <label for="Mon">週一</label>
                            </div>
                            <div class="">
                                @Html.CheckBoxFor(m => m.Tue)
                                <label for="Tue">週二</label>
                            </div>
                            <div class="">
                                @Html.CheckBoxFor(m => m.Wed)
                                <label for="Wed">週三</label>
                            </div>
                            <div class="">
                                @Html.CheckBoxFor(m => m.Thu)
                                <label for="Thu">週四</label>
                            </div>
                            <div class="">
                                @Html.CheckBoxFor(m => m.Fri)
                                <label for="Fri">週五</label>
                            </div>
                            <div class="">
                                @Html.CheckBoxFor(m => m.Sat)
                                <label for="Sat">週六</label>
                            </div>
                        </div>
                        <div class="input-field inline m-T-none">
                            @Html.TextBoxFor(m => m.DailyStart, new { @class = "input-cal datetimepicker", placeholder = "每日開始時間" })
                        </div>
                        <div class="input-field inline m-T-none">
                            @Html.TextBoxFor(m => m.DailyEnd, new { @class = "input-cal datetimepicker", placeholder = "每日結束時間" })
                        </div>
                    </div>
                </div>*@
            </div>
            <!-- 華山客製的刊登 END -->

            <a class="btn-cancel" href="javascript:" onclick="Component.closeRight();"><i class="cc cc-close"></i>取消</a>
            <a id="btnSave" class="btn-bulid" href="javascript:"><i class="cc cc-check"></i>儲存</a>
        </div>
    }
</div>

