@using WorkV3.Areas.Backend.ViewModels;
@using System.Web.Script.Serialization;
@model List<AdsStatisticsViewModel>
@{
    ViewBag.Title = "廣告成效";
    Layout = "~/Areas/Backend/Views/Shared/_MasterAdminPageLayout.cshtml";

    //long siteId = ViewBag.SiteID;
    //long menuId = ViewBag.MenuID;
    //var siteQuery = new { siteId = siteId, menuId = menuId };
    Pagination pagination = ViewBag.Pagination;
    Dictionary<string, string> adsPositionMapping = ViewBag.AdsPositionMapping;
    AdsStatisticsSearchModel search = ViewBag.Search;
    DateTime startDate = ViewBag.StartDate;
    DateTime endDate = ViewBag.EndDate;
    long siteId = ViewBag.SiteID;

    if (search.StartDate != DateTime.MinValue && search.EndDate != DateTime.MinValue)
    {
        startDate = search.StartDate;
        endDate = search.EndDate;
    }
    if (search.Advertisers == null)
    {
        search.Advertisers = new List<long>();
    }

    var advertiserParameters = new RouteValueDictionary();
    for (int i = 0; i < search.Advertisers.Count; i++)
    {
        advertiserParameters.Add(string.Format("advertiserIds[{0}]", i), search.Advertisers[i]);
    }

    double totalClickCount = Model.Sum(m => m.ClickCount);
    double totalBrowseCount = Model.Sum(m => m.BrowseCount);
    double totalFullPrice = Model.Sum(m => m.FullPrice);

    string orderClass = search.IsAsc ? "cc-chevron-up" : "cc-chevron-down";
}
@section HArea {
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Css/Card")
    @BundleConfig.StickyTableHeaders()
    <script type="text/javascript" src="Script/base/admin-slideTabs.js"></script>
    <link href="~/css/Cards/Analytics/style1.css" rel="stylesheet" type="text/css" />
}
@section Script {
    @BundleConfig.Component()
    @BundleConfig.HighCharts()
    <script type="text/javascript">
        $.ajaxSettings.traditional = true; @* 此設定主要功能：讓 chgchart 傳遞參數 advertisers 時可以傳遞陣列 *@
        var lines = [];
        var dateArray = [];
        var advertisers = [];

        $(function () {
            $('input[name="advertisers[]"]').each(function () {
                advertisers.push($(this).val());
            });

            $('.dropdown-button').dropdown({
                constrainWidth: false,
                stopPropagation: true
            });
            $('.dropdown-content.closeOnClick').on('click', function (e) {
                e.stopPropagation();
            });

            getLinesThenDrawChart();
        });

        function setAdvertisersAndSubmit(passedAdvertisers) {
            setAdvertisers(passedAdvertisers);
            submitForm();
        }

        function submitForm() {
            $('form#pass-param').submit();
        }

        function setAdvertisers(passedAdvertisers) {
            advertisers = passedAdvertisers;

            var advertiserData = '';
            advertisers.forEach(function (item) {
                advertiserData += `<input type="hidden" value="${item}" name="advertisers[]" />`;
            });
            $('form#pass-param div').html(advertiserData);
        }

        function getLinesThenDrawChart() {
            return $.ajax({
                url: '@Url.Action("GetPlotLines", "AdvertisementStatistics")',
                data: {
                    startDate: $('.startAnalyticsDate').val(),
                    endDate: $('.endAnalyticsDate').val()
                },
                method: 'GET',
                success: function (response) {
                    dateArray = getDates(new Date($('.startAnalyticsDate').val()), new Date($('.endAnalyticsDate').val()));
                    data = JSON.parse(response);
                    var retValue = [];

                    data.forEach(function (item) {
                        item.LabelDate = new Date(parseInt(item.LabelDate.replace("/Date(", "").replace(")/", ""), 10));
                        var retItem = {};
                        retItem.color = item.LabelColor,
                        retItem.width = 2,
                        retItem.value = dateArray.findIndex(i => new Date(i).valueOf() == item.LabelDate.valueOf()),
                        retItem.label = {
                            text: item.Title,
                            verticalAlign: 'top',
                            textAlign: 'center',
                            rotation: 0,
                            y: -20,
                        }
                        retValue.push(retItem);
                    });

                    lines = retValue;
                    chgchart();
                },
            });
        }

        const numberWithCommas = function (x) {
            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }

        function chgchart() {
            $.ajax({
                url: '@Url.Action("GetChart")',
                data: {
                    startTime: $('.startAnalyticsDate').val(),
                    endTime: $('.endAnalyticsDate').val(),
                    advertisers: advertisers,
                },
                method: 'GET',
                success: function (response) {
                    var statistics = JSON.parse(response);
                    var clickData = [];
                    var browseData = [];
                    var clickCount = 0;
                    var browseCount = 0;

                    for (var i = 0; i < dateArray.length; i++) {
                        var item = statistics.find(x => new Date(x.dt).valueOf() == new Date(dateArray[i]).valueOf());

                        if (!item) {
                            clickData.push(0);
                            browseData.push(0);
                        } else {
                            clickData.push(item.ClickCount);
                            browseData.push(item.BrowseCount);
                            clickCount += item.ClickCount;
                            browseCount += item.BrowseCount;
                        }
                    }

                    $('#click-count').text(numberWithCommas(clickCount));
                    $('#browse-count').text(numberWithCommas(browseCount));

                    $('.chart-line').highcharts({
                        chart: {
                            height: 500,
                            /*style: {
                                padding: '30px 0 20px'
                            },*/
                            type: 'line',
                            spacingTop: 50
                        },
                        title: {
                            text: null,
                        },
                        subtitle: {
                            text: null,
                        },
                        /*legend: {
                            enabled: false
                        },*/
                        xAxis: {
                            title: {
                                text: '日期',
                                margin: 20
                            },
                            categories: dateArray,
                            tickmarkPlacement: 'on',
                            labels: {
                                style: {
                                    fontSize: '18px'
                                },
                            },
                            plotLines: lines,
                        },
                        yAxis: {
                            min: 0,
                            //max: 1200,
                            tickInterval: 200,
                            title: {
                                text: '人數',
                                rotation: 0,
                                align: 'high',
                                offset: 0,
                                y: -20,
                                x: -15
                            },
                            //ceiling: 1200,
                            //categories: ['0', '200', '400', '600', '800', '1000', '1200'],
                            labels: {
                                style: {
                                    fontSize: '18px'
                                }
                            },
                            maxPadding: 0.05
                        },
                        series: [{
                            name: '廣告點擊量',
                            data: clickData,
                            marker: {
                                enabled: false
                            },
                            // lineWidth:5,
                            color: '#0070c0',
                            zIndex: 2
                        },

                            {
                                name: '廣告瀏覽量',
                                data: browseData,
                                marker: {
                                    enabled: false
                                },
                                color: '#008000'
                            }
                        ]
                    });
                },
            });
        }

        function getDates(startDate, endDate) {
            var dates = [],
                currentDate = startDate,
                addDays = function (days) {
                    var date = new Date(this.valueOf());
                    date.setDate(date.getDate() + days);
                    return date;
                };
            while (currentDate <= endDate) {
                dates.push(formatDate(currentDate));
                currentDate = addDays.call(currentDate, 1);
            }
            return dates;
        };

        function formatDate(date) {
            return date.getFullYear() + "/" + (date.getMonth() + 1) + "/" + date.getDate();
        }

        function setChartDate(startDate, endDate) {
            $('input.startAnalyticsDate').val(startDate);
            $('input.endAnalyticsDate').val(endDate);
            $("#spDateRange").html($('input.startAnalyticsDate').val() + " - " + $('input.endAnalyticsDate').val())
        }

        function setChartDateAndSubmit(startDate, endDate) {
            setChartDate(startDate, endDate);
            submitForm();
        }

        function setOrder(orderType) {
            var currentOrderType = $('input[name="orderType"]').val();
            var currentIsAsc = $('input[name="isAsc"]').val();
            var isAsc = currentOrderType != orderType ? 0 : (currentIsAsc === 'true'? 0: 1);

            $('input[name="isAsc"]').val(isAsc ? 'true' : 'false');
            $('input[name="orderType"]').val(orderType);
        }

        function setOrderAndSubmit(orderType) {
            setOrder(orderType);
            submitForm();
        }

        function cancelSelectedDateRange() {
            $('#click-date-picker').removeClass('active');
            $('#choiceDateRange').slideUp();
        }

        function setSelectedDateRange(start, end, cbx) {
            if (!start || !end) {
                $('#click-date-picker').removeClass('active');
                $('#choiceDateRange').slideUp();
                return;
            }

            setChartDateAndSubmit(start, end);
        }
    </script>
}
<div class="groove groove-1">
    <h1 class="title-admin-page">廣告成效</h1>
    <div class="analytics-control-bar">
        <div class="selectDateRange">
            <a id="click-date-picker" class="btn-grey-darken-4-o transparent dropdown-button" href="javascript:" data-activates="choiceDateRange" title=""><span id="spDateRange">@startDate.ToString("yyyy/MM/dd") - @endDate.ToString("yyyy/MM/dd")</span> <i class="cc cc-chevron-down"></i></a>
            <ul id="choiceDateRange" class="dropdown-content customContent full closeOnClick">
                <li>
                    <iframe class="dropdownIframe" src="@Url.Action("SelectRangeDate", "Common", new { area = "Backend", start = startDate, end = endDate })" frameborder="0"></iframe>
                </li>
            </ul>
            <form method="post" id="pass-param" action="@Url.Action("Index")">
                <input type="hidden" value="@search.OrderType" name="orderType" />
                <input type="hidden" value="@(search.IsAsc ? "true" : "false")" name="isAsc" />
                <input type="hidden" value="@search.StartDate.ToString("yyyy/MM/dd")" class="startAnalyticsDate" name="startDate" />
                <input type="hidden" value="@search.EndDate.ToString("yyyy/MM/dd")" class="endAnalyticsDate" name="endDate" />
                <input type="hidden" value="@ViewBag.SiteId" name="siteId" />
                <div>
                    @if (search.Advertisers != null)
                    {
                        foreach (long advertiserId in search.Advertisers)
                        {
                    <input type="hidden" value="@advertiserId" name="advertisers[]" />
                        }
                    }
                </div>
            </form>
        </div>
        <div class="selectGroup">
            <a class="btn-grey-darken-4-o transparent dropdown-button" href="javascript:" data-activates="advertiser-list" title="">全部廣告主 <i class="cc cc-chevron-down"></i></a>
            <ul id="advertiser-list" class="dropdown-content customContent large closeOnClick">
                <li>
                    <iframe class="dropdownIframe" src="@Url.Action("AdvertiserSelector", advertiserParameters)" frameborder="0"></iframe>
                </li>
            </ul>
        </div>
        <div class="selectCreator">
            <a href="@Url.Action("CustomLabelLine")" class="btn-grey-o openEdit-m"><i class="cc cc-edit"></i>自訂標線</a>
            <a class="btn-grey-o" href="@Url.Action("Export")" target="_blank" title=""><i class="cc cc-playlist-play"></i>匯出統計</a>
            @*<a class="btn-grey-o dropdown-button" href="javascript:" title="" data-activates="dropdown2"><i class="cc cc-playlist-play"></i>匯出統計</a>
            <ul id="dropdown2" class="dropdown-content btnStyle">
                <li><a class="btn-grey-darken-4-o transparent" href="javascript:"><i class="cc cc-file-o"></i>日報表</a></li>
                <li><a class="btn-grey-darken-4-o transparent" href="javascript:"><i class="cc cc-file-o"></i>週報表</a></li>
                <li><a class="btn-grey-darken-4-o transparent" href="javascript:"><i class="cc cc-file-o"></i>月報表</a></li>
            </ul>*@
        </div>
    </div>
    <div class="charts">
        <div class="chart-line highcharts"></div>
    </div>
    <div class="chartContent">
        <span>廣告點擊量</span>
        <a href="@Url.Action("Detail", new { startDate = search.StartDate, endDate = search.EndDate, type = DetailType.Click, previousPage = HttpContext.Current.Request.Url.OriginalString })" style="color: #0070c0;"><span id="click-count">0</span></a>
        <span>廣告瀏覽量</span>
        <a href="@Url.Action("Detail", new { startDate = search.StartDate, endDate = search.EndDate, type = DetailType.Browsing, previousPage = HttpContext.Current.Request.Url.OriginalString })" style="color: #008000;"><span id="browse-count">0</span></a>
    </div>
    <div class="card shadow-none m-T-12">
        <table class="fixTable">
            <thead>
                <tr>
                    <th width="5%">序</th>
                    <th>廣告說明</th>
                    <th>廣告圖片</th>
                    <th>所屬廣告區</th>
                    <th>廣告主</th>
                    <th><a href="javascript: void(0);" onclick="setOrderAndSubmit(1)">點擊量 @(search.OrderType == 1 ? Html.Raw($"<i class=\"cc {orderClass}\"></i>") : Html.Raw(""))</a></th>
                    <th><a href="javascript: void(0);" onclick="setOrderAndSubmit(2)">瀏覽量@(search.OrderType == 2 ? Html.Raw($"<i class=\"cc {orderClass}\"></i>") : Html.Raw(""))</a></th>
                    <th><a href="javascript: void(0);" onclick="setOrderAndSubmit(3)">費用估算(NTD)@(search.OrderType == 3 ? Html.Raw($"<i class=\"cc {orderClass}\"></i>") : Html.Raw(""))</a></th>
                    <th><a href="javascript: void(0);" onclick="setOrderAndSubmit(4)">CP值@(search.OrderType == 4 ? Html.Raw($"<i class=\"cc {orderClass}\"></i>") : Html.Raw(""))</a></th>
                </tr>
            </thead>
            <tbody>
                @{
                    int index = 0;
                }
                @foreach (AdsStatisticsViewModel item in Model)
                {
                    index++;
                    ResourceImagesModels ImgModel = Newtonsoft.Json.JsonConvert.DeserializeObject<ResourceImagesModels>(item.PCPicture);
                    AdvertisementModel AdvertisementData = item.QueryRelationAdvertisement;
                    <tr>
                        <td class="sort">@index</td>
                        <td class="name">@item.Description</td>
                        <td class="">
                            @if (ImgModel != null)
                            {
                                int? height = AdvertisementData.ComputerHeight;
                                int? width = AdvertisementData.ComputerWidth;
                                <img src="@(ViewBag.UploadUrl + ImgModel.Img)" alt="@(item.Description + " 的圖片")" />
                            }
                        </td>
                        <td>@item.MenuTitle </td>
                        <td class="text-L">
                            @item.CompanyName
                            <p class="font-grey font-sm">
                                @item.ContactPerson
                                <br>@item.ContactPhone
                            </p>
                        </td>
                        <td class="viewCount">
                            <a href="@Url.Action("Detail", new { startDate = search.StartDate, endDate = search.EndDate, type = DetailType.Click, previousPage = HttpContext.Current.Request.Url.OriginalString+$"?siteid={siteId}&startdate={search.StartDate.ToString("yyyy/MM/dd")}&enddate={search.EndDate.ToString("yyyy/MM/dd")}", AdsCustomId = item.AdsCustomizeID })" class="underline"><span class="font-black">@item.ClickCount</span></a>
                            <div style="width: @(string.Format("{0:n0}", item.ClickCount / totalClickCount * 100))%; background:#edebe0; "></div>
                        </td>
                        <td class="viewCount">
                            <a href="@Url.Action("Detail", new { startDate = search.StartDate, endDate = search.EndDate, type = DetailType.Browsing, previousPage = HttpContext.Current.Request.Url.OriginalString+$"?siteid={siteId}&startdate={search.StartDate.ToString("yyyy/MM/dd")}&enddate={search.EndDate.ToString("yyyy/MM/dd")}", AdsCustomId = item.AdsCustomizeID })" class="underline"><span>@item.BrowseCount</span></a>
                            <div style="width: @(string.Format("{0:n0}", item.BrowseCount / totalBrowseCount * 100))%; background:#edebe0;"></div>
                        </td>
                        <td class="viewCount">
                            <a href="@Url.Action("FeeDetail", new { adsCustomizedId = item.AdsCustomizeID })" class="openEdit-m center"><span>@string.Format("{0:n0}", item.FullPrice)</span></a>
                            <div style="width: @(string.Format("{0:n0}", item.FullPrice / totalFullPrice * 100))%; background:#edebe0;"></div>
                        </td>
                        <td class="viewCount">
                            <a><span class="font-grey">@item.CP</span></a>
                            <div style="width: @(item.CP * 10)%; background:#fdecdd;"></div>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
        <div class="pagination text-L">
            @Html.Action("Pager", "Common", pagination)
        </div>
        <div class="alert transparent">
            <i class="cc cc-attention"></i>
            <div>
                費用估算 = 每日費用 x 分析期間日數，其中，每日費用 = 刊登費用 ／刊登期間日數，意即將刊登費用平攤至每日中。CP值 = 點擊量 / 費用估算。
            </div>
        </div>
    </div>
</div>