@using Newtonsoft.Json.Linq;
@using System.Linq;
@model List<WorkV3.Areas.Backend.ViewModels.RewardCollectInfoViewModel> 
@{
    ViewBag.Title = "參與名單";
    bool isIframe = Request.QueryString["iframe"] == "1";
    Layout = "~/Areas/Backend/Views/Shared/_MasterAdminPageLayout.cshtml";
    Pagination pagination = ViewBag.Pagination;
    RewardModel rewardObj = ViewBag.Reward;

    JArray arrFields = JArray.Parse(rewardObj.Fields);
    List<JObject> fields = new List<JObject>();

    foreach (JObject item in arrFields)
    {
        fields.Add(item);
    }

    long siteId = ViewBag.SiteID;

    string[] Day = new string[] { "日", "一", "二", "三", "四", "五", "六" };

    WorkV3.Models.RewardCollectInfoSearch search = ViewBag.Search;

    //JObject search = ViewBag.Search;
    //Pagination pagination = ViewBag.Pagination;
    //var siteQuery = new { SiteID = ViewBag.SiteID, MenuID = ViewBag.MenuID, CardNo = ViewBag.CardNo };
    //string[] ty = ViewBag.Search["Types"].ToString().Split(',');
}

@section HArea {
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Css/Card")
    @BundleConfig.StickyTableHeaders()
}

@section Script {
    @BundleConfig.Component()
    <script type="text/javascript">
        Component.checkList('[data-checkGroup]');
        $(".fixTable").stickyTableHeaders();

        Component.searchBox('#searchBox', '#openSearch');

        $('.dropdown-btn').dropdown({
            constrainWidth: false,
            stopPropagation: true
        });

        var listObj = Component.dataList('listTable');
        listObj.deleted = function (delIds) {
            Component.confirm('刪除後，資料無法復原，確定刪除？', function (check) {
                if (check) {
                    $.post('../InfoDelete?siteId=@siteId', { 'ids': delIds }, function () {
                        location.replace(location.href);
                    });
                }
            });
        };
        listObj.selected = function (action, selectedIds) {
            if (action == 'email') {
                if (!selectedIds || selectedIds.length == 0) {
                    Component.alert('請至少選擇一筆資料');
                    return;
                }

                var mainWin = Component.openRight('@Html.Raw(Url.Action("SendMail", new { siteId = siteId, rewardId = search.RewardID }))');
                mainWin.getSelectIds = function () {
                    return selectedIds;
                };
                mainWin.sendComplete = function () {
                    $('#btnEmailCancel').click();
                };
            } else if (action == 'flag') {
                if (!selectedIds || selectedIds.length == 0) {
                    Component.alert('請至少選擇一筆資料');
                    return;
                }
                var mainWin = Component.iframe('@Url.Action("AddFlag", new { siteId = siteId })');
                mainWin.getSelectIds = function () {
                    return selectedIds;
                };
                mainWin.refreshList = function () {
                    location.replace(location.href);
                };
            } else if (action == 'process') {
                if (!selectedIds || selectedIds.length == 0) {
                    Component.alert('請至少選擇一筆資料');
                    return;
                }

                var mainWin = Component.iframe('@Url.Action("Process", new { id = search.RewardID })', '600px', '350px');
                mainWin.getSelectIds = function () {
                    return selectedIds;
                };
                mainWin.refreshList = function () {
                    location.replace(location.href);
                };
            }
        };
        listObj.canceled = function (action) {
            if (action == "del" || $('a[data-action="' + action + '"]').attr('data-select') == 'true') {
                $('#listTable').find('span.info').html('');
            }
        };
        listObj.opened = function (mainWin, action) {
            mainWin.refreshList = function () {
                location.replace(location.href);
            }
        }

        function refreshList() {
            location.replace(location.href);
        }

        $('#listTable').on('click', 'tbody :checkbox', function () {
            var tbodyElm = $(this).closest('tbody');
            var selectedNum = tbodyElm.find(':checked').length;
            tbodyElm.parent().find('span.info').html('共選了<span>' + selectedNum + '</span>筆');
        });

        $('#btnSearch').click(function () {
            var form = $('#searchForm');
            form.submit();
        });
    </script>
}
        <div class="groove groove-1">
            <div class="card shadow-none">
                <div id="SearchBox" class="search-box">
                    <a id="closeSerach" class="btn-grey-darken-4-o transparent square btn-large btn-close" href="javascript:"><i class="cc cc-close"></i></a>
                    <form id="searchForm" method="post" action="@Url.Action("ParticipantList", new { id = search.RewardID, siteId = siteId })">
                        <input type="hidden" value="1" name="index" />
                        <ul class="forms">
                            <li>
                                <div class="col-1">
                                    <div class="title inline">關鍵字</div>
                                    <div class="input-field inline full">
                                        <input type="text" id="Key" name="Key" placeholder="請輸入追蹤標記文字、Email、手機、電話、證件號碼、會員姓名、會員帳號等關鍵字" value="@search.Key" />
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="col-1">
                                    <div class="title inline">最後集點</div>
                                    <div class="input-field inline">
                                        <input type="text" id="ProcessStart" name="ProcessStart" class="input-cal datetimepicker" value="@search.ProcessStart.ToString("yyyy.MM.dd HH:mm")" />
                                    </div>
                                    <div class="input-field inline">
                                        <input type="text" id="ProcessEnd" name="ProcessEnd" class="input-cal datetimepicker" value="@search.ProcessEnd.ToString("yyyy.MM.dd HH:mm")" />
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="col-2">
                                    <div class="title inline">是否集滿</div>
                                    <div class="radio-box inline" data-checkGroup="IsComplete">
                                        <div>
                                            <input type="checkbox" id="allCompleteOptions" class="select-all" />
                                            <label for="allCompleteOptions">全選</label>
                                        </div>
                                        <div>
                                            <input type="checkbox" value="True" @(search?.IsComplete?.Contains(true) == true ? "checked=\"checked\"" : string.Empty) />
                                            <label>已集滿</label>
                                        </div>
                                        <div>
                                            <input type="checkbox" value="False" @(search?.IsComplete?.Contains(false) == true ? "checked=\"checked\"" : string.Empty) />
                                            <label>尚未集滿</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="title inline">是否中獎</div>
                                    <div class="radio-box inline" data-checkGroup="IsWinner">
                                        <div>
                                            <input type="checkbox" id="allWinnerOptions" class="select-all" />
                                            <label for="allWinnerOptions">全選</label>
                                        </div>
                                        <div>
                                            <input type="checkbox" value="True" @(search?.IsWinner?.Contains(true) == true ? "checked=\"checked\"" : string.Empty) />
                                            <label>中獎</label>
                                        </div>
                                        <div>
                                            <input type="checkbox" value="False" @(search?.IsWinner?.Contains(false) == true ? "checked=\"checked\"" : string.Empty) />
                                            <label>未中獎</label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>

                                <div class="col-2">
                                    <div class="title inline">是否處理</div>
                                    <div class="radio-box inline" data-checkGroup="IsProcess">
                                        <div>
                                            <input type="checkbox" id="allProcessOptions" class="select-all" />
                                            <label for="allProcessOptions">全選</label>
                                        </div>
                                        <div>
                                            <input type="checkbox" value="True" @(search?.IsProcess?.Contains(true) == true ? "checked=\"checked\"" : string.Empty) />
                                            <label>已處理</label>
                                        </div>
                                        <div>
                                            <input type="checkbox" value="False" @(search?.IsProcess?.Contains(false) == true ? "checked=\"checked\"" : string.Empty) />
                                            <label>尚未處理</label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <input type="submit" value="" style="display: none;" />
                        </form>
                        <div class="float-R"><a id="btnSearch" class="btn-grey-darken-4-o btn-large" href="javascript:"><i class="cc cc-search"></i>搜尋</a></div>
</div>
                <table id="listTable" class="fixTable">
                    <caption>
                        @if (!isIframe)
                        {
                            <a href="javascript:history.back()" class="btn-grey-darken-4-o transparent goBack"><i class="cc cc-arrow-left"></i></a>
                        }
                        參與名單
                        <span class="info"></span>
                        <div class="float-R">
                            <a class="btn-grey-o openEdit-c" href="@Url.Action("Draw", "Reward", new { SiteID = ViewBag.SiteID, RewardID = rewardObj.ID })"><i class="cc cc-gift"></i>抽獎</a>
                            <a class="btn-grey-o square tooltip-info dropdown-btn" href="javascript:" data-activates="btnMail" title="寄通知信"><i class="cc cc-email"></i></a>
                            <ul id="btnMail" class="dropdown-content btnStyle">
                                <li><a class="btn-grey-darken-4-o transparent" data-action="email" data-select="true"><i class="cc cc-grid-list"></i>開始寄信</a></li>
                                <li><a class="btn-grey-darken-4-o transparent openEdit-c" href="@Url.Action("MailLog", new { siteId = siteId, rewardId = rewardObj.ID })"><i class="cc cc-email"></i>寄信歷程</a></li>
                            </ul>
                            <a class="btn-grey-o square tooltip-info dropdown-btn tooltipstered" href="javascript:" data-activates="export" title="匯出名單"><i class="cc cc-playlist-play"></i></a>
                            <ul id="export" class="dropdown-content btnStyle">
                                <li><a class="btn-grey-darken-4-o transparent" href="@Url.Action("RewardCollectInfoExport", new { id = rewardObj.ID })" target="_blank"><i class="cc cc-file-o"></i>詳細清單</a></li>
                                <li><a class="btn-grey-darken-4-o transparent" href="@Url.Action("RewardCollectInfoExport", new { id = rewardObj.ID })?privacy=true" target="_blank"><i class="cc cc-file-o"></i>詳細清單(隱藏個資)</a></li>
                            </ul>
                            <a class="btn-grey-o square tooltip-info" data-action="process" data-select="true" title="標示處理"><i class="cc cc-check"></i></a>
                            <a class="btn-grey-o square tooltip-info tooltipstered" data-action="flag" data-select="true" title="追蹤標記"><i class="cc cc-account-alert"></i></a>
                            <a class="btn-grey-o square tooltip-info btn-del" href="javascript:" data-action="del" title="刪除"><i class="cc cc-trash-o"></i></a>
                            <a id="openSearch" class="btn-grey-o square tooltip-info" href="javascript:" title="篩選"><i class="cc cc-search"></i></a>
                            <span data-for="email" style="display:none;">
                                <a id="btnEmailCancel" class="btn-grey-o no" href="javascript:"><i class="cc cc-close"></i>取消</a>
                                <a class="btn-grey-darken-4-o yes" href="javascript:"><i class="cc cc-check"></i>寄信</a>
                            </span>
                            <span data-for="process" style="display:none;">
                                <a id="btnProcessCancel" class="btn-grey-o no" href="javascript:"><i class="cc cc-close"></i>取消</a>
                                <a class="btn-grey-darken-4-o yes" href="javascript:"><i class="cc cc-check"></i>處理</a>
                            </span>
                            <span data-for="flag" style="display:none;">
                                <a class="btn-grey-o no" href="javascript:"><i class="cc cc-close"></i>取消</a>
                                <a class="btn-grey-darken-4-o yes" href="javascript:"><i class="cc cc-check"></i>確定</a>
                            </span>
                            <span data-for="del" style="display:none;">
                                <a class="btn-grey-o no" href="javascript:"><i class="cc cc-close"></i>取消</a>
                                <a class="btn-grey-darken-4-o yes" href="javascript:"><i class="cc cc-check"></i>確定</a>
                            </span>
                        </div>
                    </caption>
                    <thead>
                        <tr>
                            <th>序</th>
                        @if (fields.Where(x => x["Name"].ToString() == "姓名" && (bool)x["IsShow"]).Count() > 0)
                        {
                            <th>姓名</th>
                        }
                        @if (fields.Where(x => x["Name"].ToString() == "手機" && (bool)x["IsShow"]).Count() > 0)
                        {
                            <th>手機號碼</th>
                        }
                        @if (fields.Where(x => x["Name"].ToString() == "Email" && (bool)x["IsShow"]).Count() > 0)
                        {
                            <th>Email</th>
                        }
                            <th>已蒐集數</th>
                            <th>最後集點時間</th>
                            <th>追蹤標記</th>
                            <th>已處理</th>
                            <th>標示中獎</th>
                            <th>備註</th>
                            <th>查看</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Count(); i++)
                        {
                            var item = Model.ElementAt(i);
                            IEnumerable<string> flags = item.GetFlags(siteId);

                            string name, mobile, email;
                            string keyType = item.KeyType.ToLower();

                            string week = Day[Convert.ToInt32(item.LatestCollectTime.DayOfWeek.ToString("d"))].ToString();

                            if (keyType == "member")
                            {
                                // neil 20180423 遇到無效的會員編號不處理並刪除
                                try
                                {
                                    WorkV3.Models.MemberShipModels member = WorkV3.Models.DataAccess.MemberShipDAO.GetItem(Int64.Parse(item.KeyValue));
                                    name = member.Name;
                                    mobile = member.Mobile;
                                    email = member.Email;
                                }
                                catch (Exception ex)
                                {
                                    WorkV3.Models.DataAccess.RewardCollectDAO.Delete(new long[] { item.ID });
                                    continue;
                                }
                            }
                            else
                            {
                                if (item.IsComplete)
                                {
                                    JObject completeData = new JObject();
                                    try
                                    {
                                        completeData = JObject.Parse(item.CompleteData);
                                    }
                                    catch (Exception ex)
                                    {
                                    }
                                    name = (string)completeData["Name"];
                                    mobile = (string)completeData["Mobile"];
                                    email = (string)completeData["Email"];
                                }
                                else
                                {
                                    name = "";
                                    mobile = keyType == "手機" ? item.KeyValue : "";
                                    email = keyType == "email" ? item.KeyValue : "";
                                }
                            }

                            <tr data-id="@item.ID">
                                <td class="sort">@pagination.GetItemIndex(i)</td>
                                @if (fields.Where(x => x["Name"].ToString() == "姓名" && (bool)x["IsShow"]).Count() > 0)
                                {
                                    <td class="text-L">
                                        @name
                                        @if (keyType == "member")
                                        {
                                            <a class="btn-grey-darken-4-o transparent p-none hide" href="javascript:Component.openRight('@Url.Action("Info", "Member", new { id = Int64.Parse(item.KeyValue),siteId = ViewBag.SiteID,menuId =ViewBag.MenuID})')">
                                                <i class="cc cc-user-o font-hg m-R-none"></i>
                                            </a>
                                        }
                                    </td>
                                }
                                @if (fields.Where(x => x["Name"].ToString() == "手機" && (bool)x["IsShow"]).Count() > 0)
                                {
                                    <td>@mobile</td>
                                }
                                @if (fields.Where(x => x["Name"].ToString() == "Email" && (bool)x["IsShow"]).Count() > 0)
                                {
                                    <td>@email</td>
                                }
                                <td @(item.IsComplete ? "class=font-red" : "")>@item.CollectCount</td>
                                <td class="time">@item.LatestCollectTime.ToString($"yyyy/MM/dd({week}) HH:mm")</td>
                                <td><a href="@Url.Action("ModifyFlag", new { siteId = siteId, rewardCollectInfoId = item.ID })" class="openEdit-c">@string.Join(", ", flags)</a></td>
                                <td class="icon">
                                    @if (item.IsProcess)
                                { <i class="cc cc-check"></i> }
                            </td>
                            <td class="icon">
                                @if (item.IsWonPrice)
                            { <i class="cc cc-gift"></i> }
                        </td>
                        <td>@item.ProcessRemark</td>
                        <td class="icon edit">
                            <a class="btn-grey-darken-4-o transparent tooltip-info" href="@Url.Action("RewardCollectHistory", new { rewardCollectInfoId = item.ID, SiteID = ViewBag.SiteID })">
                                <i class="cc cc-search"></i>
                            </a>
                        </td>
                    </tr>
                        }
                    </tbody>

                </table>
                <div class="pagination text-L">
                    @Html.Action("Pager", "Common", pagination)
                </div>
            </div>
        </div>

    @Styles.Render("~/Css/Card")
    @BundleConfig.StickyTableHeaders()
    <script type="text/javascript" src="~/Script/base/admin-slideTabs.js"></script>

    <script type="text/javascript">
        $(function () {
            $(".fixTable").stickyTableHeaders();

            $('.dropdown-button').dropdown({
                constrainWidth: false,
                stopPropagation: true
            });
            $('.dropdown-content.closeOnClick').on('click', function (e) {
                e.stopPropagation();
            });
        });

        //$(function () {
        //    $('.paragraph-copy').on('click', function () {
        //        parent.window.swal({
        //            text: '確定複製一筆？',
        //            type: 'success',
        //            showCancelButton: true,
        //            confirmButtonText: '確定',
        //            cancelButtonText: '取消',
        //            animation: false,
        //            customClass: 'animated fadeIn'
        //        });
        //    });
        //});

        $(window).on('load', function () {
            if ($('#SearchBox').length) {
                var $SearchBoxH = $('#SearchBox').outerHeight();
                if ($('#SearchBox').hasClass('pushup')) {
                    // 20181009 yulin 
                    // $('.fixTable, .pagination').css({
                    //     top: $SearchBoxH
                    // });

                    $('#closeSerach').on('click', function () {
                        $('#SearchBox').removeClass('pushup');
                        // $('.fixTable, .pagination').css({
                        //     top: 0
                        // });
                    });
                } else {
                    // $('.fixTable, .pagination').css({
                    //     top: 0
                    // });
                }

                $('#openSearch').on('click', function () {
                    $('#SearchBox').toggleClass('pushup');
                    if ($('#SearchBox').hasClass('pushup')) {
                        // $('.fixTable, .pagination').css({
                        //     top: $SearchBoxH
                        // });
                    } else {
                        // $('.fixTable, .pagination').css({
                        //     top: 0
                        // });
                    }
                });
            }
        });
    </script>




