@{
    ViewBag.Title = "寄通知信";
    Layout = "~/Areas/Backend/Views/Shared/_MasterAdminiframeLayout.cshtml";

    long siteId = ViewBag.SiteID, menuId = ViewBag.MenuID;
    var siteQuery = new { siteId = siteId, rewardId = ViewBag.RewardID };

    string uploadUrl = ViewBag.UploadUrl;
}

<form id="editForm" method="post" action="@Html.Raw(Url.Action("SendMail", siteQuery))">
    <div class="groove groove-1">
        <div class="lightbox-top-bar">
            <div class="lightbox-top-bar-title">您可以編輯以下信件內容，並進行發送：</div>
        </div>
        <ul class="forms">
            <li>
                <div class="col-1">
                    <div class="title">主旨<span class="required">*</span></div>
                    <div class="input-field">
                        <input type="text" id="MailSubject" name="MailSubject" value="[WebsiteName] – [EventName] 通知信" class="validate[required]" />
                    </div>
                </div>
            </li>
            <li>
                <div class="col-1">
                    <div class="title">內文<span class="required">*</span></div>
                    <div class="input-field">
                        <textarea id="MailBody" name="MailBody">
                            <p>您好：</p>
                            <p style="padding-left:20px;">
                                感謝您參與了集點活動 ，內容如下：
                            </p>
                            <p style="padding-left:20px;">
                                活動名稱： [EventName] <br />
                                活動網址： [EventUrl] <br />
                                參與者姓名：[RegName] [RegGender]<br />
                                參與者手機：[RegPhone] <br />
                                參與者信箱：[RegEmail]
                            </p>
                            <p style="padding-left:20px; font-size: 13px; border:1px solid #ebccd1; background-color: #f2dede; color: #a94442;">如有任何問題，請洽詢客服專線：02-2358-1914</p><br />
                            <p style="padding-left:20px; font-size: 13px; border:1px solid #ebccd1; background-color: #f2dede; color: #a94442;">
                                ※ 為了避免重複收到通知信，如果您已確實收到本通知信，請協助點擊：<a href="[GetEmail]" target="_blank">「[GetEmail]」</a>，謝謝。
                            </p><br />
                            <p style="text-align:right;">
                                [WebsiteName]<br />[SendDate]
                            </p>
                        </textarea>
                    </div>
                </div>
            </li>
            <li style="display:none;">
                <div class="col-1">
                    <div class="title inline">寄件人</div>
                    <div class="input-field inline">
                        <input id="Sender" name="Sender" type="text" />
                    </div>
                </div>
            </li>
            <li style="display:none;">
                <div class="col-1">
                    <div class="title inline">寄件人Email</div>
                    <div class="input-field inline full">
                        <input id="SenderEmail" name="SenderEmail" type="text" />
                    </div>
                </div>
            </li>
            <li>
                <div class="col-1">
                    <div class="title inline">附件</div>
                    <div class="input-field inline full multiple">
                        <input type="file" id="fFile" name="fFile" data-field="FileList" />
                    </div>
                </div>
            </li>
            <li>
                <div class="col-1">
                    <div class="title">代碼說明</div>
                    <div class="input-field font-grey font-xs">
                        <span class="font-grey font-darken-3">WebsiteName：</span>網站名稱<br />
                        <span class="font-grey font-darken-3">EventName：</span>活動名稱<br />
                        <span class="font-grey font-darken-3">EventUrl：</span>活動前台內頁網址<br />
                        <span class="font-grey font-darken-3">RegName：</span>聯絡人姓名<br />         
                        <span class="font-grey font-darken-3">RegGender：</span>先生 或 女士<br />                       
                        <span class="font-grey font-darken-3">RegPhone：</span>聯絡人手機<br />             
                        <span class="font-grey font-darken-3">RegEmail：</span>聯絡人Email<br />
                        <span class="font-grey font-darken-3">SendDate：</span>通知信寄送日期<br />
                        <span class="font-grey font-darken-3">GetEmail：</span>我已收到通知信
                    </div>
                </div>
            </li>
        </ul>
        <div class="control-bar">
            <a class="btn-grey prev" href="javascript:Component.closeRight();"><i class="cc cc-arrow-left"></i>上一步，已選了<span id="spanCount"></span>筆</a>
            <a class="btn-grey openEdit" href="@Url.Action("TestEmail")"><i class="cc cc-email"></i>測試發送</a>
            <a class="btn-cancel" href="javascript:" onclick="Component.closeRight();"><i class="cc cc-close"></i>取消</a>
            <a class="btn-bulid" href="javascript:checkForm(false)"><i class="cc cc-check"></i>確認送出</a>
        </div>
    </div>
    <input type="hidden" id="recipientIds" name="recipientIds" />
    <input type="hidden" id="recipientEmails" name="recipientEmails" />
</form>

@section FArea {
    @BundleConfig.FileUploader()
    @BundleConfig.Validate()
    @BundleConfig.Component()    
    <script type="text/javascript">
        function checkForm(isTest, recipientEmails) {
            var form = $('#editForm');
            if (form.validationEngine('validate')) {
                $('#recipientEmails').val(recipientEmails);
                form.triggerHandler('submit');
                $('#MailBody').val(CKEDITOR.instances.MailBody.getData());

                $.post(form.prop('action') + '&isTest=' + (isTest ? 'true' : 'false'), form.serialize(), function (rs) {
                    if (isTest) {
                        Component.alert('測試郵件已發送', function () {
                            $.colorbox.close();
                        });
                    } else {
                        Component.alert('通知信已送出', function () {
                            parent.sendComplete();
                            Component.closeRight();
                        });
                    }
                });
            }
        }

        (function () {
            Component.editor('MailBody');            
            Component.multiFileUpload('#fFile', '@(Href("~/"))', '@Html.Raw(Url.Action("FileUpload", "Common", new { siteId = siteId, menuId = menuId, sourceNo = ViewBag.RewardID }))', '@uploadUrl', null, true, true);

            var selectedIds = parent.getSelectIds();
            $('#spanCount').html(selectedIds.length);
            $('#recipientIds').val(selectedIds.join());
        })();
    </script>
}