@{
    ViewBag.Title = "首頁新增模組";
    Layout = "~/Areas/Backend/Views/Shared/_MasterAdminiframeLayout.cshtml";

    List<CardsTypeModels> CardsTypeList = ViewBag.CardsTypeList;
    long siteId = ViewBag.SiteID;
    long menuId = ViewBag.MenuID;
    long pageId = ViewBag.PageID;
    var siteQuery = new { siteId = siteId, menuId = menuId, pageNo = pageId };

}
@section HArea{
    @BundleConfig.Component()
    @Scripts.Render("~/JS/validate")
    @if (TempData["refreshData"] != null)
    {
        <script type="text/javascript">
        if (parent.reloadList!= null)
            parent.reloadList();
        parent.$.colorbox.close();
        </script>
    }
    <script type="text/javascript">

    $(function () {

            function checkForm() {
                var form = $('#SendForm');
                if (form.validationEngine('validate')) {
                    var Code = $("#DataType").val();
                    if (Code == "")
                    {
                        Component.showElementError('#errorDataType', '* 必選欄位');
                        return;
                    }
                    var ZoneSN = $("#ZoneSN").val();
                    $.get("@Html.Raw(Url.Action("CheckSN", new { SiteID=siteId, PageNo=pageId}))&SN="+ZoneSN, function (result) {
                        if (result != null) {
                            if (result != "True") {
                                Component.showElementError('#ZoneSN', '* 代碼已存在');
                                return;
                            }
                        }
                        form.submit();
                    });
                }
            }

            $('#btnSave').click(function () {
                checkForm();
            });
        });

    </script>
}
<div class="zone zone-full">
    <div class="wrapper">
        <div class="groove groove-1">
            <form id="SendForm" action="@Url.Action("AddMode", siteQuery)" method="post" enctype="multipart/form-data">
                <ul class="forms">
                    <li>
                        <div class="col-1">
                            <div class="title inline"><span id="errorDataType"></span>選擇模組</div>
                            <div class="radio-box inline full has-withItem">
                                @for (int i = 0; i < CardsTypeList.Count(); i++)
                                {
                                    CardsTypeModels CardsT = CardsTypeList[i];
                                    <div>
                                        <input class="with-item rbtnCardCode" name="DataType" type="radio" data-Code="@CardsT.Code" id="module_@CardsT.Code" data-isNeedSN="@CardsT.isNeedSN" value="@CardsT.Code" />
                                        <i class="@CardsT.Icon"></i>
                                        <label for="module_@CardsT.Code">@CardsT.Title</label>
                                    </div>
                                }
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="col-1">
                            <div class="title inline">區塊名稱</div>
                            <div class="input-field inline">
                                @{
                                    string defaultZoneName = ViewBag.DefaultZoneName;
                                }
                                <input type="text" id="ZoneSN" name="ZoneSN" class="validate[required]" value="@defaultZoneName" />
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="control-bar">
                    <a class="btn btn-cancel" href="javascript:void(0);" onclick="parent.$.colorbox.close();"><i class="cc cc-close"></i>取消</a>
                    <a class="btn btn-bulid" href="javascript:void(0);" id="btnSave"><i class="cc cc-check"></i>建立</a>
                </div>
            </form>
        </div>
    </div>
</div>
