@model WorkV3.Areas.Backend.Models.ArticleSeriesModels
@{
    ViewBag.Title = "系列編輯";
    Layout = "~/Areas/Backend/Views/Shared/_MasterAdminiframeLayout.cshtml";

    long siteId = ViewBag.SiteID;
    long menuId = ViewBag.MenuID;
    var siteQuery = new { SiteID = ViewBag.SiteID, MenuID = ViewBag.MenuID };
    string uploadUrl = ViewBag.UploadVPath;
}

<form id="editForm" method="post" enctype="multipart/form-data" action="@Html.Raw(Url.Action("SeriesEdit", new { siteId = ViewBag.SiteID, menuId = ViewBag.MenuID}))">
    <div class="groove groove-1">
        <!-- swiper1 -->
        <div class="swiper-container swiper-tab-bar">
            <div class="swiper-wrapper">
                <div class="swiper-slide selected">系列編輯</div>
            </div>
        </div>
        <!-- swiper2 -->
        <div class="swiper-container swiper-tab-content">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <ul class="forms">
                        <li>
                            <div class="col-1">
                                <div class="title inline">系列名稱</div>
                                <div class="input-field inline">
                                    <input type="text" id="Name" name="Name" value="@Model.Name" class="validate[required]" />
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="col-1">
                                <div class="title inline">色調</div>
                                <div class="radio-box inline" data-radioGroup="Color">
                                    @{ string[] colors = { "red", "orange", "yellow", "green", "light-green", "blue", "teal", "deep-purple", "gold", "light-grey", "grey", "black" }; }
                                    @foreach (string color in colors) {
                                        <div>
                                            <input type="radio" class="with-gap" value="@color" />
                                            <label data-color="@color"></label>
                                        </div>
                                    }
                                    <input type="hidden" id="Color" name="Color" value="@Model.Color" />
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="col-1 has-upload">
                                <div class="title inline no-label">圖標</div>
                                <div class="input-field inline full no-label">
                                    <div class="input-field">
                                        <input type="file" id="fIcon" name="fIcon" />
                                        <input type="hidden" id="Icon" name="Icon" value='@Model.Icon' />
                                        <input type="hidden" id="fIconBase64" name="fIconBase64" />
                                        <input type="hidden" id="fIconBase64_Resize" name="fIconBase64_Resize" />
                                    </div>
                                        </div>
                                    </div>
</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="control-bar">
            <div class="bar-item float-L">
                <div class="">
                    @Html.CheckBoxFor(model => model.IsIssue)
                    <label for="IsIssue">刊登</label>                    
                </div>
            </div>
            <a class="btn-cancel" href="javascript:" onclick="parent.$.colorbox.close();"><i class="cc cc-close"></i>取消</a>
            <a id="btnSave" class="btn-bulid" href="javascript:"><i class="cc cc-check"></i>儲存</a>
        </div>
    </div>
    <input type="hidden" name="ID" value="@Model.ID" />
    <input type="hidden" name="Sort" value="@Model.Sort" />
</form>

@section FArea {
@BundleConfig.StickyTableHeaders()
@BundleConfig.FileUploader()
    @BundleConfig.Validate()
    @BundleConfig.Component()
    <script type="text/javascript">
        Component.radioList('div[data-radioGroup]');

        Component.singleImageUpload('#fIcon', '@(Href("~/"))', '@ViewBag.UploadVPath', true);
        $('#btnSave').click(function () {
            var form = $('#editForm');
            if (form.validationEngine('validate')) {
                form.submit();
            }
        });

        @if ((ViewBag.Exit as bool?) == true) {
            <text>
            if (parent.refreshList)
                parent.refreshList();
            parent.$.colorbox.close();
            </text>
        }
    </script>
}
