@model IEnumerable<ArticleModels>
@{
    Dictionary<long, SitePage> itemPages = ViewBag.ItemPages;
    Dictionary<long, List<ArticleTypesModels>> itemTypes = ViewBag.ItemTypes;
}

@foreach (ArticleModels item in Model) {
    List<ArticleTypesModels> articleTypes = itemTypes.GetValue(item.ID);
    SitePage page = itemPages.GetValue(item.CardNo);
    if (page != null) {
<li>
    <a href="@Html.Raw(Url.Action("Index", "Home", new { SiteSN = page.SiteSN, PageSN = page.PageSN }))">
        <div class="article-list-title">@item.Title</div>
        @if (item.IssueDate != null) {
        <div class="article-list-date">@item.IssueDate.ToString("yyyy.MM.dd")</div>
        }
        <div class="article-list-info">@item.Summary.TrimTags().Truncate(150)</div>
        @if (articleTypes?.Count() > 0) {
            bool isFirst = true;
        <div class="article-list-type">
            @foreach (ArticleTypesModels type in articleTypes) {
                if (isFirst) {
                    isFirst = false;
                    <span>@type.Name</span>
                } else {
                    @:,<span>@type.Name</span>
                }
            }
        </div>
        }
    </a>               
</li>
    }
}
