@model WorkV3.Areas.Backend.Models.SocialRelationModels
@{
    ViewBag.Title = "社群分享設定";
    Layout = "~/Areas/Backend/Views/Shared/_MasterAdminiframeLayout.cshtml";

    long SiteId = (long)ViewBag.SiteID;
}
@section HArea {
    <title>@ViewBag.Title</title>
    @BundleConfig.Validate()
}
@section FArea {
    @BundleConfig.JWPlayer()
    @BundleConfig.Validate()
    @BundleConfig.FileUploader()
    @BundleConfig.Component()
    <script type="text/javascript" src="~/Script/base/admin-slideTabs.js"></script>
    <script type="text/javascript">
     @if (ViewBag.Exit as bool? == true) {
        <text>
        Component.alert('資料已儲存', function () {
            parent.frames["mainWebContent"].refreshShareList();
            parent.$.colorbox.close();
        });
        </text>
    }
    </script>
}

<div class="groove groove-1">
    <form id="editForm" name="editForm" method="post" action="@Url.Action("ShareEdit", new { SiteID=SiteId})" enctype="multipart/form-data">
        <!-- swiper1 -->
        <div class="swiper-container swiper-tab-bar">
            <div class="swiper-wrapper">
                <div class="swiper-slide selected">社群分享設定</div>
            </div>
        </div>
        <!-- swiper2 -->
        <div class="swiper-container swiper-tab-content">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <ul class="forms">
                        <li>
                            <div class="col-1">
                                <div class="title inline">選擇社群</div>
                                <a id="SocialTypeError"></a>
                                <div class="input-field inline">
                                    <select name="SocialType" id="SocialType" class="fontIcon">
                                        <option value="" selected disabled>請選擇社群</option>
                                        <option value="@((int)WorkV3.Models.MemberType.FB)" data-fonticon="cc-facebook">Facebook</option>
                                        <option value="@((int)WorkV3.Models.MemberType.Twitter)" data-fonticon="cc-twitter">Twitter</option>
                                        <option value="@((int)WorkV3.Models.MemberType.Google)" data-fonticon="cc-google-plus">Google +</option>
                                        <option value="@((int)WorkV3.Models.MemberType.Line)" data-fonticon="cc-line-text">Line</option>
                                        <option value="@((int)WorkV3.Models.MemberType.Pinterest)" data-fonticon="cc-pinterest">Pinterest</option>
                                        @*<option value="@((int)WorkV3.Models.MemberType.Bloger)">Bloger</option>*@
                                        <option value="@((int)WorkV3.Models.MemberType.Plurk)" data-fonticon="cc-plurk">Plurk</option>
                                        <option value="@((int)WorkV3.Models.MemberType.CopyUrl)" data-fonticon="cc-content-copy">複製網址</option>
                                        <option value="@((int)WorkV3.Models.MemberType.Collection)" data-fonticon="cc-favorite-o">會員收藏</option>
                                        @*<option value="@((int)WorkV3.Models.MemberType.LinkedIn)">LinkedIn</option>*@
                                        <option value="@((int)WorkV3.Models.MemberType.Weibo)" data-fonticon="cc-sina-weibo">微博</option>
                                        <option value="@((int)WorkV3.Models.MemberType.QQ)" data-fonticon="cc-qqchat">QQ</option>
                                        @*<option value="@((int)WorkV3.Models.MemberType.Baidu)" data-fonticon="cc-baidu">百度</option>*@
                                        <option value="@((int)WorkV3.Models.MemberType.Renren)" data-fonticon="cc-renren">人人網</option>
                                    </select>
                                </div>
                                @if (Model != null)
                                {
                                    <script type="text/javascript">
                                        $("#SocialType").val("@((int)Model.SocialType)");
                                        $("#SocialType").trigger("change");
                                    </script>
                                }
                            </div>
                        </li>
                        <li>
                            <div class="col-1">
                                <div class="inline title">顯示方式 <span class="font-red">*</span></div>
                                <div class="radio-box inline">
                                    <div>
                                        <input class="with-gap" name="ShowType" type="radio" id="ShowType_@((int)WorkV3.Areas.Backend.Models.ShowType.Show)" value="@((int)WorkV3.Areas.Backend.Models.ShowType.Show)" @(Model != null ? (Model.ShowType == ShowType.Show ? "checked=\"checked\"" : "") : "checked=\"checked\"")>
                                        <label for="ShowType_@((int)WorkV3.Areas.Backend.Models.ShowType.Show)">直接顯示</label>
                                    </div>
                                    <div>
                                        <input class="with-gap" name="ShowType" type="radio" id="ShowType_@((int)WorkV3.Areas.Backend.Models.ShowType.More)" value="@((int)WorkV3.Areas.Backend.Models.ShowType.More)" @(Model != null ? (Model.ShowType == ShowType.More ? "checked=\"checked\"" : "") : "")>
                                        <label for="ShowType_@((int)WorkV3.Areas.Backend.Models.ShowType.More)">點more顯示</label>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="control-bar">
            <div class="float-L m-3">
                <input type="checkbox" id="IsOpen" name="IsOpen" value="True" @(Model != null ? (Model.IsOpen ? "checked=\"checked\"" : string.Empty) : "checked=\"checked\"") />
                <label for="IsOpen">刊登</label>
            </div>
            <a class="btn-cancel" href="javascript:" id="btnCancel"><i class="cc cc-close"></i>取消</a>
            <a class="btn-bulid" href="javascript:" id="btnSave"><i class="cc cc-check"></i>儲存</a>
            <input type="hidden" id="RelationType" name="RelationType" value="@((int)WorkV3.Areas.Backend.Models.RelationType.Share)" />
            <input type="hidden" id="ID" name="ID" value="@(Model != null ? Model.ID: "0")" />
            <input type="hidden" id="SocialTitle" name="SocialTitle" value="@(Model != null ? Model.SocialTitle: "")" />
            <input type="hidden" id="LinkUrl" name="LinkUrl" value="@(Model != null ? Model.LinkUrl: "")" />
            <input type="hidden" id="LinkTitle" name="LinkTitle" value="@(Model != null ? Model.LinkTitle: "")" />
        </div>
    </form>
</div>
<!-- cc 20180705 <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->
<script>

    $(function () {
        // cc 20180705
        // $.widget("custom.iconselectmenu", $.ui.selectmenu, {
        //     _renderItem: function (ul, item) {
        //         var li = $("<li>"),
        //           wrapper = $("<div>", { text: item.label });

        //         $("<span>", {
        //             style: item.element.attr("data-style"),
        //             "class": "ui-icon " + item.element.attr("data-class")
        //         })
        //           .appendTo(wrapper);

        //         return li.append(wrapper).appendTo(ul);
        //     }
        // });

        // $("#SocialType")
        //   .iconselectmenu()
        //   .iconselectmenu("menuWidget")
        //     .addClass("ui-menu-icons avatar");
        $('#btnSave').click(function () {
            var form = $('#editForm');
            var values = $("#SocialType").val();
            if (values == "") {
                Component.showElementError("#SocialTypeError", '* 請選擇');
                $("#SocialTypeError").focus();
                return;
            }
            form.submit();
        });
        $('#btnCancel').click(function () {
            parent.$.colorbox.close();
        });
    });
</script>
