
@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="robots" content="NOINDEX,NOFOLLOW" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- 行動裝置顯示設定-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    
    
    <link rel='shortcut icon' href='~/images/favicon.ico' />

    @* 20190419 susan add 載入動畫 (後台) *@
    <link href="~/css/Cards/loaders/style1.css" rel="stylesheet" />

    @*CSS*@
    @Styles.Render("~/Css/BackCss")

    <!--[if gte IE 9]><!-->
    <link href="~/css/font-ccwork.css" type="text/css" rel="stylesheet" />
    <link href="~/css/vendor/animate/animate.css" type="text/css" rel="stylesheet" />
    <!--<![endif]-->
    <!--[if lt IE 9]>
    <script src="~/script/base/IE9.js"></script>
    <![endif]-->
    <!--[if !IE]><!-->
    <script type="text/javascript">
        if (/*@@cc_on!@@*/false) {
            document.documentElement.className += ' ie10';
        }
    </script>
    <!--<![endif]-->
    @Scripts.Render("~/JS/modernizr")
    @Scripts.Render("~/JS/jquery")
    @Scripts.Render("~/JS/jquery-ui")
    @Scripts.Render("~/JS/Core")
    <!-- jquery-easing -->@*此檔無法壓縮*@
    <script type="text/javascript" src="~/script/base/jquery.easing.1.3.js"></script>

    @Scripts.Render("~/JS/jquery-mousewheel")
    @Scripts.Render("~/JS/classie")


    @Scripts.Render("~/JS/Materialize")


    @Styles.Render("~/Css/forms")
    @Styles.Render("~/Css/colorbox")
    @Styles.Render("~/Css/tooltipster")
    @Styles.Render("~/Css/sweetalert")
    @Styles.Render("~/Css/swiper")
    @Styles.Render("~/Css/admin")

    @*@Scripts.Render("~/JS/ckeditor")*@@*此檔無法壓縮*@
    <script type="text/javascript" src="~/script/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="~/script/ckeditor/ckeditor.custom.js"></script>

    @Scripts.Render("~/JS/colorbox")
    @Scripts.Render("~/JS/tooltipster")
    @Scripts.Render("~/JS/forms")
    @Scripts.Render("~/JS/base")
    @Scripts.Render("~/JS/sweetalert")
    @Scripts.Render("~/JS/swiper")
    @Scripts.Render("~/JS/admin-iframe")



    @RenderSection("HArea", required: false)
</head>
<body class="@(ViewBag.BodyClass == null ? "body-lightBox" : ViewBag.BodyClass)">
    <div class="zone zone-full">
        <div class="wrapper">
            @RenderSection("ContTArea", required: false)
            @*內容區*@
            @RenderBody()
            @RenderSection("ContDArea", required: false)
        </div>
    </div>
    @RenderSection("FArea", required: false)
</body>
</html>
