@model Pager
@if (Model.TotalRecord == 0) {
	@Model.BlankMessage
} else if(Model.TotalPage > 1) {
	<ul>
		@if (Model.PageIndex > 1) {
			<li><a href="@(Model.UrlFmt + (Model.PageIndex - 1))" rel="prev" title="上一頁">上一頁</a></li>
		}
		@foreach (int pageNumber in Model.PageNumbers) {
			if (pageNumber == 0) {
				<li><a href="javascript:">...</a></li>
			} else {
				string url = Model.UrlFmt + pageNumber, css = String.Empty;
				if(pageNumber == Model.PageIndex)
				{
					url = "javascript:";
					css = " class=\"active\"";
				}				
				<li><a href="@url"@Html.Raw(css)>@pageNumber</a></li>
			}
		}
		@if (Model.PageIndex < Model.TotalPage) {
			<li><a href="@(Model.UrlFmt + (Model.PageIndex + 1))" rel="next" title="下一頁">下一頁</a></li>
		}
	</ul>	
    <span class="totalPage">
        <span class="txt">第</span><span class="num">@Model.PageIndex</span><span class="txt">頁</span>
        <span class="slash">/</span>
        <span class="txt">共</span><span class="num">@Model.TotalPage</span><span class="txt">頁</span>
    </span>
    <span class="totalPage">
        <span class="txt"></span><span class="num">共 @Model.TotalRecord</span><span class="txt">筆</span>
    </span>
}
