@model IEnumerable<WorkV3.Models.EventYearModels>
@{
    ViewBag.Title = "適合年齡";
    ViewBag.BodyClass = "body-dropdown";
    Layout = "~/Areas/Backend/Views/Shared/_MasterAdminiframeLayout.cshtml";
        
    IEnumerable<long> curYearIds = ViewBag.Years;
}

<div class="groove groove-1">
    <ul class="forms">
        <li>
            <div class="title">選擇適合年齡<span class="required">*</span></div>
            <div class="input-field">
                <input id="txtKey" type="text" placeholder="關鍵字搜尋" />
            </div>
        </li>
        <li>
            <div class="radio-box" id="divList">
                @foreach (WorkV3.Models.EventYearModels item in Model) {
                <div data-item='@Newtonsoft.Json.JsonConvert.SerializeObject(item, ViewBag.Int64Converter)'>
                    <input class="with-chip" type="checkbox" id="@item.ID" @(curYearIds.Contains(item.ID) ? "checked=\"checked\"" : string.Empty) />
                    <label for="@item.ID">@item.Name</label>
                </div>
                }                
            </div>
        </li>
    </ul>
    <div class="control-bar">
        <div style="display: none;">
            <div id="addTag" class="float-box">
                <div class="title">請輸入新的適合年齡標示</div>
                <input id="txtNewItem" type="text" placeholder="輸入完畢請按下Enter" />
            </div>
        </div>
        <a class="btn-grey-o set-left openInlineEdit" href="#addTag">
            <i class="cc cc-plus"></i>快速新增
        </a>
        <a class="btn-cancel" href="javascript:parent.document.body.click();"><i class="cc cc-close"></i>取消</a>
        <a id="btnSelect" class="btn-bulid" href="javascript:"><i class="cc cc-check"></i>選入</a>
    </div>
</div>

@section FArea {
    <script type="text/javascript">
        var listOuterElm = $('#divList');
        
        $('#txtKey').change(function () {
            var val = $.trim(this.value);
            listOuterElm.children().each(function () {
                if (!$(this).find('input').prop('checked')) {
                    var item = $.parseJSON($(this).attr('data-item'));
                    if (item.Name.indexOf(val) == -1)
                        $(this).fadeOut();
                    else
                        $(this).fadeIn();
                }
            });
        });

        $('#btnSelect').click(function () {
            var selectedItems = [];
            listOuterElm.children().each(function () {
                if ($(this).find('input').prop('checked')) {
                    var item = $.parseJSON($(this).attr('data-item'));
                    selectedItems.push(item);
                }
            });

            parent.setKindItems('Year', selectedItems);
            setTimeout(function () { parent.document.body.click(); }, 100);
        });

        $('#txtNewItem').keypress(function (e) {
            if (e.keyCode == '13') {
                var name = $.trim(this.value);
                if (!name) {
                    parent.Component.alert('請輸入適合年齡標示');
                    return;
                }

                $.get('@Html.Raw(Url.Action("YearQuickAdd", new { siteId = ViewBag.SiteID, menuId = ViewBag.MenuID }))&name=' + encodeURIComponent(name), function (itemId) {
                    var item = { ID: itemId, Name: name };

                    var html =
                        "<div data-item='" + JSON.stringify(item) + "'>" +
                        '   <input class="with-chip" type="checkbox" id="' + item.ID + '" />' +
                        '   <label for="' + item.ID + '"> ' + item.Name + '</label>' +
                        '</div>';
                    listOuterElm.append(html);

                    $.colorbox.close();
                });
            }
        });
    </script>
}


